<% provide(:title, t(".books")) %>
<div class="container">
  <h1><%= t(".books") %></h1>
  <%= will_paginate @books %>
 <ul class="books">
    <%= render @books %>
  </ul>
  <%= will_paginate @books %>

</div>
