<footer class="footer">
  <small class="created_by">
    <%= raw t("footer.created_by",
      href1: link_to(t("sun_library"), t("footer.link_sun")),
      href2: link_to(t("footer.name"), t("footer.link_name"))) %>
  </small>
  <nav>
    <ul class="hotline">
      <li><%= t "footer.hot_line" %></li>
    </ul>
  </nav>
  